// ranking.scss


.rank_main{
    max-width: 1140px;
    margin: 0 auto;
    .notion{
        text-align: center;
        margin-top: 2rem;
    }
.rank_form{
   width: 100%;
    fieldset{
        margin: 50px 0 10px;
       display: flex;
       justify-content: space-between;
       .rank_input{
        position: relative;
        display: flex;
        .rank_search{
            position: absolute;
            bottom: 0;
            height: 30px;
            width: 200px;
            background: #f9f9f9;
            border: none;
            padding-left: 10px;
            &::-ms-clear,
            &::-ms-reveal
            {
	        display:none;
            width:0;
            height:0;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration{
	display:none;
}
           }
           button{
            border: none;
            background: transparent;
            position: absolute;
            right: -200px;
            bottom: 0;
            width: 30px;
            height: 30px;
                svg{
                    color: #999;
                }
           }
       }
    }
}

.order_btn{
    button:first-child{
        border-right: none;
    }
    button{
        background-color: transparent;
        padding: 15px 20px;
        border: 1px solid #999;
        font-size: 16px;
        font-weight: bold;
        color: #666;
        &:hover{
            background: #666;
            color: #fff;
        }
    }
}

.rank_table{
    margin: 0 0 35px;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    colgroup{
        .ranking{
            width:  7%;
        }
        .summoner{
            width: 30%;
        }
        .tier{
            width: 20%;
        }
        .LP{
            width: 7%;
        }
        .level{
            width: 7%;
        }
        .winning_rate{
            width: 20%;
        }
    }
    thead{
        th{
           background: #f9f9f9;
           height: 30px;
           color: #999;
        }
    }
    tbody{
        height: 40px;
        tr{
            cursor: pointer;
            &:hover{
                background: #f9f9f9;
            }
            td{
                .Odds{
                    color: red;
                }
                font-size: 14px;
                border-right: 1px solid #d9d9d9;
                border-left: 1px solid #d9d9d9;
                border-top: 1px solid #d9d9d9;
                border-bottom: 1px solid #d9d9d9;
                color: #666;
                a{
                    display: block;
                }
             }
        }
    }
}

.paging{
   ul{
    display: flex;
    justify-content: center;
    align-items: center;
    li{
        padding: 0 10px;
        a{
           &:hover{
            text-decoration: underline;
           }
        }
    }
   }


}
}