.champs{
    display: inline-block;
    width:80px;
    padding-right: 10px;
    overflow: hidden;
    button{
        width: 100%;
        img{
           width: 100%;
        }
    }
    .champ_name{
            width: 100%;
            text-align: center;
            font-size: 12px;
            overflow: hidden;
    }
}