main {
  width: 100%;
  .champion_title {
    width: 1250px;
    min-width: 1250px;
    text-align: center;
    margin: 50px auto 0;
    font-size: 40px;
    color: #fff;
  }
  .champion_table {
    width: 1250px;
    min-width: 1250px;
    margin: 30px auto;
    border-collapse: collapse;
  }
}
