.signBtn {
  padding: 15px 0;
  margin: 10px 0;
  background-color: #61dafb;
  border: none;
  color: #fff;
}

.disabled {
  // padding: 15px 0;
  margin: 10px 0;
  background-color: #d2d2d2;
  border: none;
  color: #fff;
  cursor: auto;
}
