.board_main {
  width: 100%;
  height: 100%;
  background-color: #222;
  .inner_board {
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    .board_box {
      margin-top: 50px;
      flex: 5;
      .article_info {
        .sub {
          color: #999;
          font-size: 0.9rem;
        }
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: space-between;
        background: #222;
        padding: 10px 20px;

        color: #fff;
      }
      .content_field {
        background-color: #222;
        position: relative;
        color: #fff;
        height: 500px;
        .text {
          margin: 30px 0 0 20px;
        }
        .recommendation {
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          button {
            margin-right: 1rem;
            padding: 1rem;
            border: 1px solid #e9e9e9;
            background-color: #fff;
            border-radius: 10px;
            color: #222;
            font-size: 1.5rem;
            &.up {
              svg {
                color: red;
                margin-right: 0.5rem;
                vertical-align: bottom;
              }
            }
            &.down {
              svg {
                color: blue;
                margin-right: 0.5rem;
                vertical-align: bottom;
              }
            }
            svg {
              font-size: 2rem;
            }
          }
        }
        .click_bar {
          position: absolute;
          bottom: 0;
          left: 0;
          button {
            margin-right: 8px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      .comment_box {
        padding-top: 30px;
        background-color: #222;

        .comment_title {
          font-size: 16px;
          padding: 0 10px 10px 20px;
          color: #fff;
          svg {
            vertical-align: top;
            margin-right: 0.3rem;
            font-size: 20px;
          }
        }
        .comment_form {
          width: 100%;
          height: 100px;
          background: #222;
          fieldset {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            input[type="text"] {
              width: 85%;
              height: 70px;
            }
            input[type="submit"] {
              width: 80px;
              height: 70px;
              border: none;
              background-color: #f9f9f9;
              cursor: pointer;
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}
