// community.scss

.cmnt_main {
  width: 100%;
  height: 100%;
  background-color: #222;
  .inner_cmnt {
    position: relative;
    max-width: 1360px;
    margin: 0 auto;

    .cmnt_flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 100px 0 0 0;
      .cmnt_title {
        padding-bottom: 1rem;
        color: #fff;
      }
    }
    .cmnt_box {
      flex: 5;
      .Writing_btn {
        float: right;
        margin-bottom: 1rem;
        &::after {
          content: "";
          display: block;
          clear: both;
        }
        a {
          color: #d1d1d1;
          font-size: 16px;
          display: block;
          border: 2px solid #d1d1d1;
          font-weight: 600;
          border-radius: 0.3rem;
          padding: 0.5rem 1rem;
        }
      }
    }
  }
}
