main{
    width: 100%;
    .champion_title{
     text-align: center;
     margin-top: 50px;
     font-size: 40px;
    }
     .champion_table{
        width: 1360px;
         max-width: 1360px;
         margin: 30px auto;
         border-collapse: collapse;
     }
 }