// community.scss


.cmnt_main{
    position: relative;
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    .cmnt_category{
        margin: 100px 50px 0 0;
        flex: 1;
        ul{
            li{
                a{
                    position: relative;
                    font-weight: bold;
                    display: inline-block;
                    font-size: 22px;
                    padding: 20px 0 20px;
                    &::after{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        content: "";
                        display: block;
                        width: 100%;
                        height: 5px;
                        background-color: #61dafb;
                        transform: scale(0,1);
                        transition: all 0.2s linear 0s;
                        transform-origin: left center;
                    }
                    &:hover::after{
                        transform: scale(1);
                    }
                    &:hover{
                        color: #61dafb;
                    }
                    
                }
            }
        }
    }
    .cmnt_box{
        margin-top: 50px;
        flex: 5;
        .writing_btn{
            display: flex;
            justify-content: space-between;
            select{
                border-color: #999;
            }
        .writing{
            display: inline-block;
            background: #f9f9f9;
            padding: 5px 15px;
            border: 1px solid #222;
            color: #222;
        }
    }
        .cmnt_table{
            margin: 10px 0 35px;
            width: 100%;
            text-align: center;
            border-collapse: collapse;
            colgroup{
                .number{width: 7.5%;}
                .title{width: 50%;}
                .user{width: 20%;}
                .date{width: 15%;}
                .rmd{width: 7.5%;}
            }
            thead{
                th{
                   background: #f9f9f9;
                   height: 30px;
                   color: #999;
                }
            }
            tbody{
                height: 40px;
                &:hover{
                    background: #f9f9f9;
                }
                    td{
                        border-top: 1px solid #d9d9d9;
                        border-bottom: 1px solid #d9d9d9;
                        color: #666;
                        a{
                            display: block;
                        }
                     }
            }
        }
        .paging{
            ul{
             display: flex;
             justify-content: center;
             align-items: center;
             li{
                 padding: 0 10px;
                 a{
                    &:hover{
                     text-decoration: underline;
                    }
                 }
             }
            }
        }
        .cmnt_form{
           text-align: center;
           margin-top: 20px;
            fieldset{
                .cmnt_input{
                    height: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    select{
                        width: 125px;
                        height: 100%;
                        border-color: #999;
                    }
                    input{
                        width: 250px;
                        height: 100%;
                        
                    }
                    button{
                        width: 50px;
                        height: 35px;
                        border: 1px solid rgb(118, 118, 118);
                        border-left: none;
                        background: transparent;
                        border-color: #999;
                    }
                }
            }
        }
    }
}