@import url(Header.scss);

html,body{
    width: 100%;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.blind{
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    visibility: hidden;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: #222;
}

ul,ol{
    list-style: none;
}

fieldset{
    border: none;
}
button{
    border: none;
    background: transparent;
    cursor: pointer;
}