// Home.scss

#root{
    width: 100%;
    height: 100%;
}
.home_main{
    position: relative;
    width: 100%;
    .home_title{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 40px;
        text-align: center;
        color: #61dafb;
        img{
            width: 60px;
            height: 60px;
            vertical-align: top;
            margin-right: 5px;
        }
    }
.home_form{
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    fieldset{
        width: 100%;
        text-align: center;
        border: none;
        position: relative;
        .summoner_search{
            padding: 0 20px;
            width: 40%;
            height: 60px;
            border-radius: 30px;
            border: 3px solid #61dafb;
            &::placeholder{
                color: #b2b2b2;
            }
            &:focus
            {
                outline: none;
            }
            &::-ms-clear,
            &::-ms-reveal
            {
	        display:none;
            width:0;
            height:0;
    }
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration{
	display:none;
}
        }
        button{
            cursor: pointer;
            position: absolute;
            border: none;
            background: transparent;
            right: 30%;
            width: 60px;
            height: 60px;
            svg{
                font-size: 18px;
                color: #61dafb;
            }
        }
    }
}
}