.paging{
    width: 100%;
    padding: 50px 0;
    text-align: center;
    button{
        padding: 10px 15px;
        border: 1px solid #eee;
        border-radius: 10px;
        margin: 0 4px;
        &.active {
            background-color: skyblue;
            color: #fff;
        }
    }
    
}