.signUp_main {
  height: calc(100% - 92px);
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #222;
  h1 {
    font-size: 40px;
    color: #61dafb;
    margin-bottom: 50px;
    cursor: pointer;
    img {
      width: 60px;
      height: 60px;
      margin-right: 5px;
    }
  }
  .signUp_form {
    width: 100%;
    fieldset {
      width: 25%;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      input {
        padding: 15px 0;
        margin: 10px 0;
        text-indent: 16px;
      }
      .login {
        text-align: right;
        a {
          color: #fff;
          font-size: 12px;
        }
      }
      .pwdError {
        font-size: 12px;
        color: #ff0000;
      }
    }
  }
  .authError {
    color: red;
    font-size: 12px;
  }
  .brand_btn {
    display: flex;
    flex-direction: column;
    width: 25%;
    button {
      cursor: pointer;
      padding: 15px;
      margin-top: 10px;
      border: none;
      background-color: #20232a;
      color: #fff;
      svg {
        font-size: 22px;
        vertical-align: middle;
        margin-right: 8px;
      }
    }
  }
}
